:root {
    --btn-color: #38B3F1;
    --btn-hover: #427FF6;
    --footer-color: #000411;
}

/********************************************
 General Rules:
*********************************************/

html {
    font-size: 10px;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
}

h1 {
    font-weight: bold;
    font-size: 5rem;
}

h2 {
    font-weight: bold;
    font-size: 2.2rem;
}

p {
    font-size: 1.6rem;
}

img {
    width: 100%;
}

.btn {
    display: inline-block;
    padding: 1.2rem 4.4rem;
    background-color: var(--btn-color);
    transition: background-color .3s ease;
}

.btn:hover {
    background-color: var(--btn-hover);
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/********************************************
 Hero Section:
*********************************************/

.hero {
    background-image: url("../images/fly.png");
    background-repeat: no-repeat;
    background-size: cover;

}

.nav {
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    display: flex;
    align-items: center;
}

.nav__logo__image {
    height: 5.6rem;
    width: 5.6rem;
}

.nav__logo__text {
    text-transform: uppercase;
    font-size: 1.9rem;
    font-weight: bold;
}

.nav__list {
    display: flex;
}

.nav__item:not(:last-child) {
    margin-right: 1.5rem;
}

.nav__link {
    padding: .5rem 1rem;
    transition: background-color .3s ease;
}

.nav__link:hover {
    text-shadow: 0 0 2px #ffffff;
}

.hero__text {
    padding: 15rem 0 18rem;
}

.hero__text {
    width: 50rem;
    color: #ffffff;
}

.hero__subtitle {
    margin: 2rem 0 4rem;
}

.hero__button {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.4rem;
}

.hero__button_bordered {
    background-color: transparent;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: var(--btn-color);
    border: 1px solid var(--btn-color);
    margin-left: 4rem;
}

/********************************************
 Ticket Section:
*********************************************/

.ticket {
    padding: 10rem 0 20rem;
    background-image: url("../images/plane-bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

}

.ticket__subtitle {
    width: 48rem;
    margin: 2rem 0 5.6rem;
}

.ticket__demos {
    display: flex;
    justify-content: space-between;
}

.ticket__demos .col {
    width: 55.5rem;
    height: 63rem;
    display: flex;

}

.col .ticket__photo {
    width: 100%;
}

.ticket__photo {
    width: 55.5rem;
    height: 63rem;
    position: relative;
}

.tickect__image {
    height: 30rem;
}

.ticket__photo_margin {
    margin-bottom: 3rem;
}

.tickect__image_large {
    height: 100%;
}

.ticket__demo-link {
    text-transform: uppercase;
    font-weight: bold;
    padding: 2.2rem 4.8rem;
    background-color: transparent;
    border: 1px solid #ffffff;
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
}

/********************************************
 Space Section:
*********************************************/

.space {
    padding: 15rem 0;
    background-image: url("../images/space-bg.png");
    background-size: cover;
    background-position: center;
}

.space__title {
    text-align: center;
    margin-bottom: 4rem;
}

.space__subtitle {
    width: 56rem;
    text-align: center;
    margin: 0 auto 5.5rem;
}

.space__item_top {
    margin-bottom: 12rem;
}

.space__item_reverce {
    flex-direction: row-reverse;
}

.space__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.space__item__text {
    width: 40%;
}

.space__item__photo {
    width: 50%;
}

.space__description {
    margin: 3rem 0 4rem;
}

.space__book {
    display: flex;
    align-items: center;
}

.space__book__price {
    margin-right: 3.3rem;
    font-size: 1.8rem;
} 

/********************************************
 Gallery Section:
*********************************************/

.gallery{
    text-align: center;
    padding: 20rem 0;
    background-image: url("../images/plane-bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
} 

.gallery__list{
    display: flex;
    justify-content: space-between;
} 

.gallery__subtitle{
    width: 48rem;
    text-align: center;
    margin: 3rem auto 6rem;
} 
.gallery__item_large{
    width: 36% !important;
}
.gallery__item {
    width: 29.5%;
} 

.gallery__photo{
    display: inline-block;
    height: 100%;
    margin-bottom: 3rem;
} 

/********************************************
 Agency Section:
*********************************************/

.agency{
    padding: 15rem 0;
    background-image: url("../images/space-bg.png");
    background-size: contain;
    background-position: center;
} 

.agency__container{
     display: flex;
     justify-content: space-between;
     align-items: center;
} 

.agency__photo{

    width: 40%;
} 

.agency__text{
    width: 50%;
} 

.agency__title{
    margin-bottom: 3rem;
} 

/********************************************
 Reward Section:
*********************************************/

.reward__container{
    padding: 20rem 0 10rem;
    display: flex;
    align-items: center;
    position: relative;
} 

.reward__photo{
    width: 50%;
    position: relative;
    left: -16%;
} 

.reward__text{
    width: 50%;
} 

.reward__description{
    margin: 3rem 0 4rem;
} 

/********************************************
 Footer Section:
*********************************************/

.footer{
    background-color: var(--footer-color);
    color: #ffffff;
    padding: 23rem 0 17rem;
    font-family: 'Lato', sans-serif;
    font-size: 1.8rem;

} 

.footer__list{
     display: flex;
     justify-content: space-between;
     align-items: flex-start;
} 

.footer__company-name{
    font-size: 3.4rem;
    text-transform: uppercase;
    letter-spacing: 1.5rem;
} 

.footer__address{
    width: 20rem;
    margin: 3.5rem 0 2.3rem;
} 

.footer__title{
    margin-bottom: 3rem;
} 

.footer__page{
    margin-bottom: 2rem;
}